.mt-8 {
  margin-top: 8px !important; 
}

.mt-16 {
  margin-top: 16px !important; 
}

.mt-32 {
  margin-top: 32px !important;
}

.mb-32 {
  margin-bottom: 32px !important; 
}

.ml-8 {
  margin-left: 8px !important;
}