/* Ripple effect */
.ripple {
  background-position: center;
  transition: all 0.8s;
}

.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: all 0s;
}

/* Button style */
button {
  border: none;
  border-radius: 4px;
  padding: 12px 18px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  /* background-color: rgba(255, 255, 255, 0.8); */
  outline: none;
}