h1 {
  margin: 0;
}

h2, h3, h4 {
  margin: 0 0 16px 0;
}
 
h2 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h3, h4 {
  font-weight: normal;
  font-style: italic;
}

p {
  font-size: 12px;
  margin-top: 11px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

p.quotation {
  font-size: 13px;
  color: #767676;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}
