.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
  padding: 20px;
  border-radius: 8px;

  font-size: 30px;
  text-align: center;

  transform: scale(1);
}

.grid-item:hover {
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}


@media only screen and (max-width: 600px) {
  .grid-container-2, .grid-container-4 {
    grid-template-columns: 1fr;
  }
}