html, body, #root {
  font-family: Arial, Helvetica, sans-serif;
  /* background: #0a1f44; */
  background-color: #ffffff;
  color: #1e2432;
  /* height: 100%; */
  margin: 0 auto;
  padding: 0 25px;

  max-width: 1240px;
  min-width: 320px;
}

.main-container {
  background-size: cover;
  background-position: center;
}

.main-container {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

header { 
  display: contents;
  justify-content: center;
  align-items: center;
}

article {
  text-align: left;
}

section {
  width: 100%;
}

img.showcase {
  width: 100%;
  height: 320px;
  border-radius: 8px;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  /* transform: translateX(50%);
  opacity: 0;
  transition: all 500ms; */
}

img {
  display: block;
  width: 100%;
  height: 185px;
  
  border-radius: 8px;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
  @keyframes loaded {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  
  &.loaded:not(.has-error) {
    animation: loaded 300ms ease-in-out;
  }

  &.has-error {
    // content: url(${placeHolder});
  }
}

.fade {
  transform: translateX(0);
  opacity: 1.0;
  transition: all 500ms;
}

@media only screen and (max-width: 600px) {
  html, body, #root {
    padding: 0 5px;
  }

  header {
    margin-top: 80px;
  }
  
  .main-container {
    justify-content: initial;
    background: none;
  }
}

@media only screen and (min-width: 600px) {
  img {
    height: 320px;
  }
}